@tailwind base;
@tailwind components;
@tailwind utilities;

* {
	box-sizing: border-box;
}

.switch-theme {
	cursor: pointer;
	height: 100%;
	width: 40px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.chat-title-item:hover .trash{
		display: flex;
		align-items: center;
}

.trash {
	display: none;
}

.outer {
	width: calc(100vw + 300px);
	overflow: hidden;
	box-sizing: border-box;
	transition: all .3s;
	position: fixed;
	display: flex;
}

.outer-translateX {
	transform: translateX(-70vw);
}

::-webkit-scrollbar {
	display: none;
}