@tailwind base;
@tailwind components;
@tailwind utilities;

* {
	box-sizing: border-box;
}

.switch-theme {
	cursor: pointer;
	height: 100%;
	width: 40px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.chat-title-item:hover .trash{
		display: flex;
		align-items: center;
}

.trash {
	display: none;
}